@model WebCarInspection.Models.DriverViewModel

@{
    ViewData["Title"] = "Create driver";
}

<h5 style="margin: 2vw;">Create driver</h5>
    <div style="width: 30vw; margin: 3vw;">
        <div class="form-group">
            @using (Html.BeginForm("CreateDriver", "Driver"))
            {
                @Html.AntiForgeryToken()
                <div>
                    @Html.ValidationSummary(true)
                    <div class="flex-column">
                        <div>
                            @Html.LabelFor(model => model.FirstName)
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                    <div class="flex-column">
                        <div>
                            @Html.LabelFor(model => model.Surname)
                            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>
                    <div class="flex-column">
                        <div>
                            @Html.LabelFor(model => model.Patronic)
                            @Html.TextBoxFor(model => model.Patronic, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Patronic)
                    </div>
                    <div class="flex-column">
                        <div>
                            @Html.LabelFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                    <div class="flex-column">
                        @Html.LabelFor(model => model.DateOfBirth)
                        <div class="controls input-append date form_datetime" data-link-field="dtp_input1">
                            <input name="DateOfBirth" size="16" type="text" value="@DateTimeOffset.Now" class="form-control" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                            @Html.ValidationMessageFor(model => model.DateOfBirth)
                        </div>
                        <input type="hidden" id="dtp_input1" value="" /><br />
                    </div>
                    <div class="flex-column">
                        @Html.LabelFor(model => model.DateOfRights)
                        <div class="controls input-append date form_datetime" data-link-field="dtp_input1">
                            <input name="DateOfRights" size="16" type="text" value="@DateTimeOffset.Now" class="form-control" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                            @Html.ValidationMessageFor(model => model.DateOfRights)
                        </div>
                        <input type="hidden" id="dtp_input1" value="" /><br />
                    </div>
                    <div class="flex-column">
                        <div>
                            @Html.LabelFor(model => model.LicenseNumber)
                            @Html.TextBoxFor(model => model.LicenseNumber, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.LicenseNumber)
                    </div>
                    <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Create" />
                </div>
            }
            @using (Html.BeginForm("ShowDrivers", "Driver", FormMethod.Get))
            {
                <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Cancel" />
            }
        </div>
    </div>

