@model WebCarInspection.Models.ViolationViewModel

@{
    ViewData["Title"] = "Update violation";
}

<h5 style="margin: 2vw;">Update violation</h5>
<div style="width: 30vw; margin: 3vw;">
    <div class="form-group">
        @using (Html.BeginForm("UpdateViolation", "Violation"))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true)
                <div class="flex-column">
                    <div>
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="flex-column">
                    <div>
                        @Html.LabelFor(model => model.Description)
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <input type="submit" class="btn btn-success" style="margin: 1vw;" value="Save" />
            </div>
        }
        @using (Html.BeginForm("ShowViolations", "Violation", FormMethod.Get))
        {
            <input type="submit" class="btn btn-secondary" style="margin: 1vw;" value="Cancel" />
        }
    </div>
</div>

