@model List<WebCarInspection.Models.ViolatorViewModel>

@{
    ViewData["Title"] = "Violators";
}

<div class="flex-row__space-between" style="margin: 1vw;">
    <h5>Violators</h5>
    @using (Html.BeginForm("CreateViolator", "Violator", FormMethod.Get))
    {
        <input type="submit" class="btn btn-success" value="Create" />
    }
</div>
<ul style="margin: 2vw;" class="flex-row__space-between">
    @foreach (var item in Model)
    {
        <li>
            <div class="card" style="width: 25vw;">
                <ul class="list-group list-group-flush">
                    @await Component.InvokeAsync("GetDriver", new { id = @item.DriverId })
                    @await Component.InvokeAsync("GetInspector", new { id = @item.InspectorId })
                    @await Component.InvokeAsync("GetViolation", new { id = @item.ViolationId })
                    <li class="list-group-item flex-row__space-between">
                        <div class="alert alert-success" role="alert">Reinspection date</div>
                        <div class="alert alert-light" role="alert">@item.ReinspectionDate.Day.@item.ReinspectionDate.Month.@item.ReinspectionDate.Year</div>
                    </li>
                </ul>
                <div class="card-body flex-row__space-between">
                    @using (Html.BeginForm("UpdateViolator", "Violator", FormMethod.Get))
                    {
                        @Html.Hidden("violatorId", @item.Id)
                        <input type="submit" class="btn btn-success" value="Edit" />
                    }
                    @using (Html.BeginForm("DeleteViolator", "Violator", FormMethod.Get))
                    {
                        @Html.Hidden("violatorId", @item.Id)
                        <input type="submit" class="btn btn-warning" value="Delete" />
                    }
                </div>
            </div>
        </li>
    }
</ul>

